@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
a:hover {
    text-decoration: underline;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

body {
    margin: 0;
    background-color: rgb(230, 0, 0);
}

.b-canvas {
    width: 100%!important;
}

#text-container {
    border: solid;
    display: flex;
    position: fixed;
    /* top: 5rem;
    left: 6rem; */
    margin: 3em;
}

canvas {
    width: 80vw!important;
    height: 90vh !important;
}

text {
    fill: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.left {
    transform: rotate(-90deg);
    position: absolute;
    top: 25rem;
    left: -20rem;
    font-size: 2rem;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.right {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 10vh;
    right: -10rem;
    font-size: 2rem;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}