/* Component: Languages */
.languages {
  
    // El: Item
    &__item {
      text-transform: uppercase;
      color: #899099;
      font-size: 13px;
      line-height: 1.15;
      
      // Mod: Current
      &--current {
        color: #212121;
      }
  
      // Divider
      &:before {
        content: ' / ';
        color: #899099;
      }
  
      // Remove divider from first item
      &:first-child:before {
        content: '';
      }
    }
  
    // Hover Styling for links
    a.languages__item:hover {
      color: #212121;
    }
  }