@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*utils*/

body {
    position: relative;
    .wrapper {
        min-height: 100vh;
    }
}

a:hover {
    color: initial;
}

#page {
    margin-top: 200px;
}

.around-logo {
    // width: 100px;
    height: 100%;
}


/*logo bar*/

.menu_bar {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
    position: fixed;
    top: 0;
    width: 100%;
    // height: 250px;
    z-index: 9;
    background-color: #fffff8;
    .logo {
        width: 120px;
        //height: auto;
        text-align: center;
        .around-logo {
            // margin-left: 20px;
            height: 100%!important;
        }
    }
    .languages {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .languages__item {
        text-transform: uppercase;
        color: #000000;
        font-size: 1rem;
        line-height: 1.15;
        font-family: "Lato, sans-serif";
        font-weight: 300;
        letter-spacing: 5px;
    }
}


/*menu*/

#main-menu {
    font-size: 20px;
    letter-spacing: 30px;
    padding: 0;
    text-indent: 30px;
}

#main-menu :nth-child(1) a {
    font-size: 40px!important;
    letter-spacing: 26px!important;
    text-indent: 26px;
}

#main-menu :nth-child(2) {
    font-size: 35px!important;
    letter-spacing: 25px!important;
    text-indent: 25px;
}

#main-menu :nth-child(3) {
    font-size: 30px!important;
    letter-spacing: 30px!important;
    text-indent: 30px;
}

#main-menu :nth-child(4) {
    font-size: 20px!important;
    letter-spacing: 30px!important;
    text-indent: 30px;
}

#menu_list {
    height: 100%;
    padding-top: 250px;
    background-color: #fffff8;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin-top: -98vh; //da aggiungere a menu chiuso
    .menu-item {
        display: flex;
        justify-content: center;
    }
    .nav-link {
        display: inline-block;
        width: auto;
        text-align: center;
        text-transform: uppercase;
        flex-wrap: nowrap;
        // font-size: 40px;
        text-align: center;
        // letter-spacing: 26px;
        -o-object-fit: contain;
        object-fit: contain;
        border-bottom: 5px solid transparent;
    }
    .nav-link:hover {
        border-bottom: solid 5px red;
    }
    #footer-menu {
        margin-bottom: 4rem;
        overflow: hidden;
        .about-txt-col {
            display: flex;
            align-items: flex-end;
        }
        .social-col {
            font-size: 2rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            .social-icon {
                margin-left: 2rem;
            }
        }
    }
    .redband {
        background: rgb(255, 0, 0);
        z-index: 8;
        height: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .triangle {
            background-color: transparent;
            margin-top: -20px;
            height: 25px;
        }
        .opened {
            display: none;
        }
    }
}

//footer
#footer {
    position: static;
    bottom: 0;
    background-color: #ff0000;
    color: white;
    .info-col {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .social-col {
        i {
            color: #fffff8;
        }
        font-size: 2rem;
        display:flex;
        align-items: center;
        justify-content: center;
        .social-icon {
            margin-left: 2rem;
        }
    }
}


/*ARCHIVE WOOCOMMERCE*/

.term-description {
    display: none;
}

.woocommerce-products-header {
    margin: 0 160px;
    h1 {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-size: 60px;
        letter-spacing: 10px!important;
    }
}

.woocommerce-message {
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: fixed;
    right: 0;
    left: 0;
    background-color: #ff0000;
    color: #ffffff;
    border-top: none;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
    font-weight: 400;
    text-align: center;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    &::before {
        display: none;
    } //hide icon
}

.woocommerce .woocommerce-ordering {
    margin: 1rem;
    select {
        vertical-align: top;
        font-family: 'Roboto Slab';
        border: none;
        font-size: 1rem;
        background: transparent;
        border-bottom: solid 1px;
        padding: 10px;
        option {
            background-color: #fffff8;
            border: solid 1px;
            margin: 0 10px;
        }
    }
}

.woo-container {
    border: solid #ff0000 2px;
    border-style: dashed;
    border-left: none;
    border-right: none;
    .grid-container {
        margin: 0 160px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        border: solid #ff0000 2px;
        border-style: dashed;
        border-top: none;
        border-bottom: none;
        padding: 0 10px;
        .single-around {
            height: fit-content;
            width: fit-content;
            position: relative;
            border: solid #ff0000 2px;
            border-style: dashed;
            margin: 10px auto;
            img {
                width: 600px;
            }
            .onsale {
                min-height: 3.236em;
                min-width: 3.236em;
                padding: 0 10px;
                font-size: 1em;
                font-weight: 300;
                position: absolute;
                text-align: center;
                line-height: 3.236;
                top: 10px;
                left: 10px;
                margin: 0;
                border-radius: 0;
                background-color: #ff0000;
                color: #fff;
                font-size: .857em;
                z-index: 5;
                font-family: 'Roboto Slab', sans-serif;
                text-transform: uppercase;
                letter-spacing: 7px;
                text-indent: 7px;
            }
            .single-overlay {
                opacity: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: all ease-out 0.3s;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    opacity: 1;
                    background: #ff0000c5;
                }
                h2 {
                    color: white;
                    font-size: 18px;
                    font-family: 'Roboto Slab', sans-serif;
                    font-weight: 300;
                }
            }
            a.added_to_cart {
                display: none !important
            }
            .button {
                height: 50px;
                width: 50px;
                background-color: #fff;
                color: red;
                border-radius: 50%;
                display: inline-flex;
                position: absolute;
                bottom: 10px;
                right: 10px;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                &:hover {
                    color: #fff;
                    background-color: #ff0000da;
                }
            }
            .woocommerce input.button.loading::after {
                top: 18px;
                right: 20px;
            }
            .loading i::before {
                display: none;
                margin: 0;
                opacity: 1;
            }
            .loading i::after {
                margin: 0;
                color: #ff0000;
                opacity: 1;
            }
            .added i::before {
                display: none;
            }
            .added::after {
                margin: 0;
            }
            .woocommerce a.added_to_cart {
                display: none;
            }
            // .woocommerce input.button.alt{
            //     background-color: black!important;
            // }
        }
    }
}

//SINGLE WOOCOMMERCE
.product-template-default {
    #page {
        margin-top: 250px;
    }
    .site-main {
        .product_title {
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        border: solid #ff0000 2px;
        border-style: dashed;
        border-left: none;
        border-right: none;
        padding: 1rem;
        .flex-viewport {
            border: solid #ff0000 2px;
            border-style: dashed;
            .woocommerce-product-gallery__trigger {
                z-index: 5;
            }
        }
        .flex-control-nav {
            margin-top: 10px!important;
            border: solid #ff0000 2px;
            border-style: dashed;
            width: fit-content;
        }
    }
}

//PRODUCT PAGE
.product-template-default {
    .woocommerce-product-gallery__trigger {
        z-index: 5!important;
    }
    .product_title {
        font-weight: 100;
        font-style: italic;
    }
}

//CHECKOUT
#coupon_code {
    border: none;
    text-align: center;
}

.product_title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: initial;
}

//entry title
.drag_bg {
    opacity: 0.9;
}

.entry-title-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    .dashed-line {
        display: flex;
        border-bottom: dashed 1px black;
        height: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
    }
    .entry-title {
        padding: 0 20px;
        background: #fffff8;
        z-index: 9;
        margin-bottom: 100px;
    }
}