//resize menu bar and logo

.menu_bar {
    height: 200px;
    transition: all 0.5s ease-in;
    // border-bottom: solid 1px red;
  }

.menu_bar_resize{
    height: 250px;
    padding-bottom: 1rem;
}

//slide up menu

#menu_list{
    margin-top: calc(-100vh + 210px);
    //margin-top: calc(-50%);
    transition: all 1s ease-in-out;
}

.opened{

    margin-top: 0vh!important;

}

//triangle drop

.triangle{
    transform: rotateX(-180deg);
    transform-origin: bottom;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.triangle_move{
    transform: rotateX(0deg);
    transform-origin: bottom;
}

.social-icon{
    transition: all 0.2s ease-in-out;
}
.social-icon:hover{
    color: red;
    font-size: 2.2rem;
}

/*SCROLLING TEXT FOOTER*/

.m-scroll {
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: #ff0000;
    overflow: hidden;
    z-index: 1;
  
      &__title {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      transform: scale(2);
      transition: all 1s ease;
      & > div {
        display: flex;
        animation: scrollText 33s infinite linear;
      }
      h4 {
        margin: 0;
        // font-size: 140px;
        color: rgba(255,255,255,1);
        transition: all 2s ease;
        }
        span {
          text-decoration:none;
          color:white;
          }
        span:hover{
          -webkit-text-stroke: 0.5px white;
          color: transparent;
        }
    }
  }
  
  /*div:hover {
    animation-play-state: paused;
  }*/
  @keyframes scrollText {
    from   { transform: translateX(0%); }
    to { transform: translateX(-50%); }
  }