body {
    background-color: #fffff8;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-size: 70px;
    line-height: 70px;
    font-weight: 700;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
  
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
  }
  
  p {
    margin-bottom: 10px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  .h1 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 100px;
  }
  
  .h1.lato {
    font-family: Lato, sans-serif;
  }
  
  .h1.lato.uppercase {
    text-transform: uppercase;
  }
  
  .lato {
    background-color: rgba(255, 0, 0, 0);
    font-family: Lato, sans-serif;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .uppercase.italic.category {
    font-weight: 400;
  }
  
  .global {
    background-color: red;
  }
  
  .heading {
    font-size: 60px;
  }
  
  .body {
    font-size: 45px;
  }
  
  .body.typo-padding {
    padding: 40px;
  }
  
  .paragraph {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
  }
  
  .separatore {
    height: 75px;
  }
  
  .heading-2 {
    font-family: Lato, sans-serif;
  }
  
  .roboto {
    font-family: 'Roboto Slab', sans-serif;
  }
  
  .italic {
    font-style: italic;
  }
  
  .heading-3 {
    font-family: Lato, sans-serif;
    font-size: 60px;
    font-style: normal;
  }
  
  .useless {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 35px;
    font-weight: 600;
  }
  
  .heading-4 {
    font-size: 30px;
    line-height: 30px;
  }
  
  .heading-5 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .light {
    font-weight: 300;
  }
  
  .thin {
    font-weight: 100;
  }
  
  .highlight {
    font-size: 40px;
  }
  
  .btn-red {
    display: inline-block;
    overflow: visible;
    height: auto;
    margin: 10px;
    padding: 10px 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 0, 0, 0);
    background-color: red;
    font-family: Lato, sans-serif;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -o-object-fit: fill;
    object-fit: fill;
  }
  
  .btn-red:hover {
    border-color: red;
    background-color: #fff;
    font-family: Lato, sans-serif;
    color: red;
    font-weight: 700;
  }
  
  .text-block {
    -o-object-fit: fill;
    object-fit: fill;
  }
  
  .typo-padding {
    padding: 40px;
  }
  
  .usels {
    display: inline-block;
  }
  
  .btn-white {
    display: inline-block;
    overflow: visible;
    height: auto;
    margin: 10px;
    padding: 10px 40px;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    background-color: #fff;
    font-family: Lato, sans-serif;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -o-object-fit: fill;
    object-fit: fill;
  }
  
  .btn-white:hover {
    border-style: none;
    border-color: #fff;
    background-color: red;
    color: #fff;
    font-weight: 400;
  }
  
  .coupon {
    border-style: dashed;
    border-width: 2px;
    border-color: red;
    border-radius: 0px;
  }
  
  .menu-container {
    position: -webkit-sticky;
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 999;
    display: block;
    overflow: hidden;
    height: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    background-color: rgba(255, 255, 248, 0);
    font-family: 'Fa brands 400', sans-serif;
    font-weight: 400;
    -o-object-fit: fill;
    object-fit: fill;
  }
  
  .logo-row {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 99;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 25vh;
    padding-top: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: #fffff8;
    text-align: center;
  }
  
  .menu {
    text-align: center;
  }
  
  .list {
    padding-left: 0px;
  }
  
  .menu-list {
    list-style-type: none;
  }
  
  .menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto Slab', sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 50px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 25px;
    list-style-type: none;
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  .menu-item.menu-el-1 {
    font-size: 48px;
  }
  
  .menu-text {
    position: static;
    display: inline-block;
    border-bottom: 5px solid transparent;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 30px;
    text-indent: 20px;
  }
  
  .menu-text:hover {
    border-style: none none solid;
    border-width: 1px 1px 5px;
    border-color: red;
    border-radius: 0px;
  }
  
  .menu-text.menu-el-1 {
    display: inline-block;
    width: auto;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 40px;
    text-align: center;
    letter-spacing: 26px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  .menu-text.menu-el-2 {
    font-size: 35px;
    letter-spacing: 25px;
  }
  
  .menu-text.menu-el-3 {
    font-size: 30px;
    letter-spacing: 30px;
  }
  
  .menu-text.menu-el-4 {
    font-size: 20px;
    line-height: 66px;
    letter-spacing: 30px;
  }
  
  .text-block-2 {
    font-family: 'PT Serif', serif;
    font-size: 200px;
  }
  
  .redband {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: red;
    text-align: center;
    text-decoration: line-through;
  }
  
  .triangle {
    display: block;
    width: auto;
    height: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #030000;
  }
  
  .image {
    position: relative;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  .div-block {
    position: -webkit-sticky;
    position: sticky;
    left: 0%;
    top: 100vh;
    right: 0%;
    bottom: 0%;
    display: block;
    width: 100%;
    height: 10px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: red;
    cursor: pointer;
  }
  
  .div-block-2 {
    position: relative;
    height: 10px;
  }
  
  .triangolo {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .menu-list-container {
    position: static;
    left: 0px;
    top: auto;
    right: 0px;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 27vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .colofon {
    position: relative;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
  }
  
  .footer-menu {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .icon-social {
    position: relative;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
  }
  
  .fa-brand {
    position: static;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-family: 'Fa brands 400', sans-serif;
    color: #000;
    font-size: 30px;
    line-height: 30px;
  }
  
  .i-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 15%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .image-2 {
    display: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  
  .colowrapper {
    overflow: hidden;
    padding-right: 10px;
    padding-left: 0px;
    text-align: left;
  }
  
  .menu-row {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #fffff8;
  }
  
  .page_title_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0vh;
    padding-right: 140px;
    padding-left: 140px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .heading-6 {
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .category_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-weight: 400;
  }
  
  .page_container {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    margin-top: 220px;
    margin-bottom: 0px;
  }
  
  .product_container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 0px;
    border-style: dashed none;
    border-width: 2px 1px;
    border-color: red;
  }
  
  .product_grid {
    display: -ms-grid;
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 140px;
    padding-bottom: 0px;
    padding-left: 140px;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "Area";
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto 10px auto;
    grid-template-rows: auto auto;
  }
  
  .product_tile {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 300px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-style: dashed;
    border-width: 2px;
    border-color: red;
  }
  
  .product_image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/_x.jpg');
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .image_overlay {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: auto;
    margin: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: rgba(255, 0, 0, 0.8);
    opacity: 1;
  }
  
  .image_overlay:hover {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .image_overflow {
    overflow: hidden;
  }
  
  .white {
    display: inline;
    color: #fff;
  }
  
  .white:hover {
    text-decoration: none;
  }
  
  .white.uppercase:hover {
    text-decoration: none;
  }
  
  .heading-7 {
    font-size: 24px;
  }
  
  .text-span {
    font-size: 25px;
  }
  
  .logo-div {
    display: none;
    width: 100%;
    height: auto;
    min-width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-image: url('../images/aroundRisorsa-1.svg');
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  .image-3 {
    height: auto;
  }
  
  .footer {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: red;
  }
  
  .social-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .info-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .claim-container {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  
  .fa-brand-footer {
    position: static;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-family: 'Fa brands 400', sans-serif;
    color: #000;
    font-size: 30px;
    line-height: 30px;
  }
  
  .utility-page-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .utility-page-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  
  .utility-page-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .blank_container {
    display: block;
    height: 100%;
    margin-top: 220px;
    margin-bottom: 220px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .gif_container {
    width: 20rem;
  }
  
  .draggable_container {
    position: relative;
  }
  
  .draggable {
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: move;
  }
  
  .draggable_image_2 {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-right: -100px;
    padding-right: 0px;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .draggable_image_3 {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: -50px;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .sidebar {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 20vw;
  }
  
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 50px;
      line-height: 50px;
    }
  
    h2 {
      font-size: 40px;
      line-height: 40px;
    }
  
    h3 {
      font-size: 30px;
      line-height: 30px;
    }
  
    p {
      font-size: 18px;
      line-height: 25px;
    }
  
    .btn-red {
      font-size: 20px;
    }
  
    .btn-white {
      font-size: 20px;
    }
  
    .logo-row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  
    .i-block {
      width: 25%;
    }
  
    .menu-row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  
    .page_title_container {
      padding-right: 60px;
      padding-left: 60px;
    }
  
    .page_container {
      margin-top: 220px;
    }
  
    .product_container {
      margin-top: 40px;
    }
  
    .product_grid {
      padding-right: 60px;
      padding-left: 60px;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  
    .product_tile {
      min-height: 200px;
    }
  
    .product_image {
      background-size: 100%;
      background-repeat: no-repeat;
    }
  
    .image_overlay {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  
    .social-container {
      width: 30%;
    }
  
    .info-container {
      width: 30%;
    }
  
    .blank_container {
      display: block;
      margin-top: 220px;
      margin-bottom: 220px;
      padding-right: 0px;
      padding-left: 0px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 767px) {
    .i-block {
      width: 30%;
    }
  
    .page_title_container {
      padding-right: 40px;
      padding-left: 40px;
    }
  
    .category_box {
      display: none;
    }
  
    .page_container {
      margin-top: 220px;
    }
  
    .product_container {
      margin-top: 40px;
    }
  
    .product_grid {
      padding-right: 40px;
      padding-left: 40px;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
    }
  
    .product_tile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      min-height: 150px;
    }
  
    .product_image {
      position: absolute;
      height: 100%;
      -o-object-fit: fill;
      object-fit: fill;
    }
  
    .social-container {
      width: 50%;
    }
  
    .info-container {
      width: 50%;
    }
  
    .claim-container {
      display: none;
    }
  }
  
  @media screen and (max-width: 479px) {
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
  
    h2 {
      font-size: 25px;
      line-height: 25px;
    }
  
    h3 {
      font-size: 20px;
      line-height: 20px;
    }
  
    h4 {
      font-size: 18px;
      line-height: 18px;
    }
  
    .uppercase.page_title {
      margin-top: 40px;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
    }
  
    .italic.colotext {
      font-size: 14px;
    }
  
    .logo-row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 20vh;
      margin-top: 0px;
      padding-top: 0px;
    }
  
    .menu-item {
      line-height: 20px;
    }
  
    .menu-text.menu-el-1 {
      font-size: 25px;
      line-height: 25px;
      letter-spacing: 18px;
    }
  
    .menu-text.menu-el-2 {
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 18px;
    }
  
    .menu-text.menu-el-3 {
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 18px;
    }
  
    .menu-text.menu-el-4 {
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 16px;
    }
  
    .redband {
      height: 7px;
    }
  
    .triangolo {
      width: 25px;
      max-width: 100%;
    }
  
    .menu-list-container {
      padding-top: 22vh;
    }
  
    .colofon {
      padding-top: 0px;
      padding-bottom: 20px;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  
    .footer-menu {
      padding-right: 20px;
      padding-left: 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .i-block {
      width: 100%;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  
    .menu-row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  
    .page_title_container {
      padding-right: 35px;
      padding-left: 35px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  
    .category_box {
      display: none;
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
    }
  
    .page_container {
      margin-top: 220px;
    }
  
    .product_container {
      margin-top: 40px;
    }
  
    .product_grid {
      padding-right: 35px;
      padding-left: 35px;
      grid-row-gap: 25px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
    }
  
    .image-3 {
      margin-top: 0px;
      padding-top: 20px;
    }
  
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .social-container {
      width: 100%;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
      -ms-flex-order: -1;
      order: -1;
    }
  
    .info-container {
      width: 100%;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
      font-size: 4px;
    }
  
    .claim-container {
      display: none;
      padding-top: 20px;
    }
  }
  
  #w-node-_1ebe42bf-2195-d778-64a0-34323ea738b1-017730d3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
  
  @media screen and (max-width: 767px) {
    #w-node-_1ebe42bf-2195-d778-64a0-34323ea738b1-017730d3 {
      -ms-grid-row-align: stretch;
      align-self: stretch;
      -ms-grid-column-span: 1;
      grid-column-end: span 1;
      -ms-grid-column: span 1;
      grid-column-start: span 1;
      -ms-grid-row-span: 1;
      grid-row-end: span 1;
      -ms-grid-row: span 1;
      grid-row-start: span 1;
    }
  }
  
  @font-face {
    font-family: 'Fa 400';
    src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype'), url('../fonts/fa-regular-400.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Fa solid 900';
    src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype'), url('../fonts/fa-solid-900.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Fa brands 400';
    src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype'), url('../fonts/fa-brands-400.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }